html, body {
    height: 100%;
}

#pathAnimator {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

#animationBox {
    height: 100%;
}

#animationPlot {
    height: 100%;
}

#settingsBox {
    background-color: wheat;
}

#fpsSlider {
    padding: 0 16px;
}

.noUi-tooltip {
    font-size: 0.8rem;
}

.legendSpot {
    height: 25px;
    width: 25px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
}
